/* Banner.css */
.banner {
  max-width: 1120px;
  margin: 40px auto;
  display: flex;
  background-color: white;
  opacity: 100%;
}

.banner-left {
  max-width: 480px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-left h4 {
  color: #865318;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0px;
}

.banner-left h1 {
  font-size: 54px;
  margin: 0px;
}

.banner-left p {
  margin-bottom: 20px;
  color: #666;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sign-up-button {
  background-color: #6f5d0e;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  max-width: 130px;
  height: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.banner-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
