.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
}

.navbar a {
  color: #1e1b13;
  text-decoration: none;
  margin: 0 1rem;
}

.logo {
  font-size: 24px;
}

.nav-links {
  font-size: 14px;
  word-spacing: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
}
